body {
    font-family: sans-serif;
    background-color: aliceblue
}

.divider {
    background-color: black
}

/* Div {
    color: blue;
    font-size: 20px
} */

/* .year-picker1, .yearpicker2 {
    font-size: 20px
} */

/* H1, H2, H3 {
    text-align: center;
    color: blue 
}  */